<h1><%= @lawyer.name %></h1>

<ul class="list-group">
  <li class="list-group-item"><span class="label">Email:</span><%= @lawyer.user.email %></li>
  <li class="list-group-item"><span class="label">Status:</span><%= @lawyer.user.signed_in? ? "Active" : "Not Available" %></li>
  <li class="list-group-item"><span class="label">Signed in:</span><%= @lawyer.user.signed_in_at %></li>
  <li class="list-group-item"><span class="label">Signed out:</span><%= @lawyer.user.signed_in? ? "" : @lawyer.user.signed_out_at %></li>
</ul>
