<h1>Admins</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Status</th>
      <th scope="col">Signed in</th>
      <th scope="col">Signed out</th>
    </tr>
  </thead>
  <tbody>
    <% @admins.each do |admin| %>
      <tr>
        <td><%= admin.name %></td>
        <td><%= admin.user.email %></td>
        <td><%= admin.user.signed_in? ? "Active" : "Not Available" %></td>
        <td><%= admin.user.signed_in_at %></td>
        <td><%= admin.user.signed_in? ? "" : admin.user.signed_out_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
