<h1><%= @client.name %></h1>

<ul class="list-group">
	<li class="list-group-item"><span class="label">Age:</span><%= @client.age %></li>
	<li class="list-group-item"><span class="label">Gender:</span><%= @client.gender %></li>
	<li class="list-group-item"><span class="label">Address:</span><%= @client.address %></li>
	<li class="list-group-item"><span class="label">Email:</span><%= @client.email %></li>
	<li class="list-group-item"><span class="label">Contact Number:</span><%= @client.contact_number %></li>
</ul>
